.solana-tooltip {
	position: absolute;
	background: rgba(30,30,63, 0.8);
	color: #fff;
	padding: 5px;
	border-radius: 8px;
	font-size: 14px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.3);
	z-index: 9999;
	max-width: 220px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.solana-tooltip a {
	text-decoration: none;
}

.solana-tooltip a:hover {
	text-decoration: none;
}

.solana-tooltip a:hover img{
	background-color: rgba(255,255,255,0.2);
}

.tooltip-img {
	width: 32px;
	height: 32px;
	padding: 7px;
	transition: background-color 0.2s linear;
	border-radius: 8px;
}